/*  your css code here. If applicable */
body{
	font-family:sans-serif;
	background-color:#f5f5f5;
}

.latest-news-section{
	margin:5px;
	background-color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.main-section{
	padding:5px;
	text-align:center;
}

.pictorial-news-section{
	padding:5px;
	width:100px;
	text-align:center;
	border-radius:10px;
}

img{
	width:100%;
}

.body-section{
	display:flex;
}
header{
	padding:5px;
	background-color: #011e29;
	text-align:center;
	color:white;
}
